/*  No robot text  */
html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

/* Search Bar */
nav{
  background-color: #20B2AA;
}

body{
  height:auto;
  margin:0;
}

.card{
  border-radius: 10px;
  box-shadow: 2px 4px 12px #888888;
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 140%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
